a.header_links {
    FONT-SIZE: 11px;
    font-family: verdana, arial, sans-serif;
    COLOR: #7FB4CF;
    FONT-WEIGHT: BOLD;
}
 
a.header_links:link, a.header_links:visited,a.header_links:active {
    TEXT-DECORATION: none;
}
 
a.header_links:hover {
    TEXT-DECORATION: underline;
}
 
.black_text_bold {
    FONT-SIZE: 11px;
    COLOR: #000000;
    font-family: verdana, arial, sans-serif;
    FONT-WEIGHT:bold
}
 
 
